<div style="margin-left: 10px;">
    <h1>ජය මංගලම් මංගල සේවය</h1>
    <p> Wedding Proposals Web is an elegant and feature-rich platform developed using AngularJS and Node.js, designed to
        assist couples and event organizers in planning their dream weddings. Built upon the Bootstrap template, this
        project encompasses a range of features including groom and bride profiles, wedding decoration services, wedding
        hall bookings, and professional wedding photography services.</p>
    <img src="https://cdn.stockmediaserver.com/smsimg39/pv/IngimageContributors/ing_47129_07263.jpg?token=IDvrYps30mPy4cQ8mwPdt14t-JxUTsuzhjEsaONqzj0&class=pv&smss=53&expires=4102358400"
        alt="" />

</div>