.landImage {
    width: 180px;
    height: 225px;
    object-fit: cover;
}

.Mcard {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #1d138d;
    overflow: hidden;
    margin-bottom: 20px;
}

.mr-10 {
    margin-right: 5px
}

.cardfooter {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.cardfooter button {
    color: black;
    background-color: #e0e0e0;
    margin: 10px;
}

.cardfooter button:hover {
    background-color: #518bff;
}

.advanced {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
    color: #fff;
    background-color: #00838f !important;
    border-color: #00838f !important;
    box-shadow: none;
}

.advanced {
    color: #00838f !important;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #00838f;
}